<div class="top">
    <button id="menu-btn">
      <span class="material-icons-sharp">menu</span>
    </button>
    <div class="theme-toggler">
      <span class="material-icons-sharp active">light_mode</span
      ><span class="material-icons-sharp">dark_mode</span>
    </div>

  </div>    
  <script>
    const sdieMenu = document.querySelector("aside");
    const menuBtn  =  document.querySelector("#menu-btn");
    const closeBtn = document.querySelector("#close-btn");
    
    menuBtn.addEventListener("click", () => {
      console.log("clicked");
      sdieMenu.style.display = "block";
    });

    closeBtn.addEventListener("click", () => {
      sdieMenu.style.display = "none";
    });

  </script>