<nav>
    <div class="container nav__container">


        <a href="/">

            <div class="Title-name" style="margin-top: 10px; position: relative;">
                <h4 style="color: #fe9720; position: absolute; top: -1rem; left: 0; " id="title1">.Mr</h4>
                <h2 style="font-family: 'Righteous'; color:#fe9720;margin-top: 2rem; " > <span id="title2">Islam </span>   <span style="color: #ffffff;" id="title3"> Abd Elhameed</span></h2>
                <!-- <img src="images/icon.png" alt="logo"  > -->
            </div>

        </a>
        <ul class="nav__menu">
            <!-- <li><a href="store.html" style="opacity: 0.4;">متجر ممكن <span style="font-size: .5rem;">قريبا</span></a></li> -->
            <li><a href="/Register" id="joinus">انضم الينا</a></li>
            <li  id="Contactus" style="cursor: pointer;"><a id="cont">تواصل معنا</a></li>
        </ul>
        <button id="open-menu-btn"><i class="uil uil-bars"></i></button>
        <button id="close-menu-btn"><i class="uil uil-multiply"></i></button>
    </div>
</nav>