<html lang="ar" dir="rtl">
<%- include("./partials/head.ejs") %>

<body>
  <%- include("./partials/nav.ejs") %>

    
    <!--========================== END OF NAVBAR ============================-->
    <header>
      <div class="container header__container" dir="ltr">
          <div class="header__left box-left animate__animated animate__fadeInLeft ">
              <h1 style="  font-family: Righteous;  ">Be_Original_Not_A_Copy</h1>
              <p style="font-size: 1.4rem; font-family: Righteous; "> 
            your Online Videos are now here!
              </p>
              <a href="/login" class="btn btn-primary box-left ">Log In </a><span class="aw">or</span>
              <a  id="Features" class="btn btn-secondey box-left">اضغط هنا للتعرف علي جميع المزايا</a>
          </div>
          <div class="header__right  box-right  animate__animated  animate__fadeInRight">
              <div class="bubbles ">
                  <span class="bub a "> <img src="/images/dna.svg"  alt="DNA"></span>
                  <span class="bub b "> <img src="/images/logo.png" style="border-radius: 55%; width: 50px; " alt="logo"></span>
                  <span class="bub c "> <img src="/images/book.svg" alt="book"></span>
              </div>
              <div class="header__right-image">
                  <img src="/images/dd.png"  >
              </div>
          </div>
      </div>
  </header>

  <!--========================== END OF HEADER ============================-->

<main>
  <section class="categories">
      <div class="container categories__container">
          <div class="categories__left box-right">
              <h1> اماكن تواجدنا</h1>
              <p>
                  يمكنك من هنا التعرف علي جميع مواعيد دكتور علاء او يمكنك الحجز اون لاين عن طريق الحجز الالكتروني
              </p>
              <a href="/Register" class="btn info "> حجز الكتروني </a>
          </div>

          <div class="categories__right ">
              <article class="category box-left" >
                
                  <h3>القناطر الخيريه <span style="display: block;"></span></h3>
                
       
              </article>
              
              <article class="category box-left">
      
                  <h3 class="mx-auto">قليوب <span style="display: block;  "></span></h3>

              </article>
              <article class="category box-left">
             
                  <h3>الجيزه <span style="display: block; "></span></h3>
              </article>
          </div>
      </div>
  </section>

  <!--====================== END OF CATEGORIES =====================-->


 <section class="featuers" id="featuers">
  <div class="container">
      <div class="featuers-title text-center ">
          <h2>
              <i class="fas fa-graduation-cap"></i>
               تعرف علي جميع المزايا 
          </h2>
      </div>
      <ul class="timeline">
          <li>
              <div class="timebox">
                  <h4> امتحانات الكترونية اسبوعية </h4>
                  <p>
                      امتحان اسبوعي علي كل حصه والي بيساعدك انك تحل اكبر عدد من الاسئله وتكون جاهز لامتحانات الاكبر
                  </p>
              </div>
          </li>
          <li>
              <div class="timebox">
                  <h4>  فيدوهات تعليمية  </h4>
                  <p>
                      فيدوهات تعليمة باعلي جوده ومؤمنة بشكل كامل
                  </p>
              </div>
          </li>
          <li>
              <div class="timebox">
                  <h4>  مسابقات وجوائز   </h4>
                  <p>
                      مسابقات بين الطلاب بشكل دوري حتي يتم تحفيز الطالب علي المذاكرة بجد والاستعداد دائما
                  </p>
              </div>
          </li>
          <li>
              <div class="timebox">
                  <h4> تجربه سلسه وممتعه في الاستخدام</h4>
                  <p>
                      تم اختيار كل شيء لكي يكون مهيء للتعليم الالكتروني بشكل سلس من الالوان وحتي اختيار اماكن الازرار
                  </p>
              </div>
          </li>
      </ul>
  </div>
  </section>
   <!--========================== END OF TEAM ============================-->
  
  


</main>


  <%- include("./partials/footer.ejs") %>


  <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js" integrity="sha512-Eak/29OTpb36LLo2r47IpVzPBLXnAMPAVypbSZiZ4Qkf8p/7S/XRG5xp7OKWPPYfJT6metI+IORkR5G8F900+g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/9.0.5/swiper-bundle.min.js" integrity="sha512-cEcJcdNCHLm3YSMAwsI/NeHFqfgNQvO0C27zkPuYZbYjhKlS9+kqO5hZ9YltQ4GaTDpePDQ2SrEk8gHUVaqxig==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>


</body>
</html>