<!DOCTYPE html>
<html lang="ar" dir="rtl">
    <%- include("./partials/head.ejs") %>




<body>
    <%- include("./partials/nav.ejs") %>

    <!--========================== END OF NAVBAR ============================-->
    <header>
        <div class="container header__container">
            <div class="header__left box-right  animate__animated animate__fadeInRight ">
                <h1> الفلسفة هى فن التحدث عن التفاحة بدلا من أكلها . </h1>
                <p>
                    تجربة فريدة لتعلم ممتع 
                    قم بتسجيل الدخول و استمتع بالتعلم كما لم تراه من قبل
                </p>
                <a href="/login" class="btn btn-primary box-right " style="color: #fff !important;">سجل الدخول</a><span class="aw">او</span>
                <a  id="Features" class="btn btn-secondey box-right">اضغط هنا للتعرف علي جميع المزايا</a>
            </div>
            <div class="header__right box-left animate__animated animate__fadeInLeft">
                <div class="bubbles ">
                    <span class="bub a "> <img src="images/icon3.png" alt="DNA"></span>
                    <span class="bub b "> <img src="images/icon5.png" alt="flask"></span>
                    <span class="bub c "> <img src="images/brain.png" alt="book"></span>
                </div>
                <div class="header__right-image">
                    <img src="images/Logo-02.png">
                </div>
            </div>
        </div>
    </header>



    <!--========================== END OF HEADER ============================-->

<main>
    <section class="categories">
        <div class="container categories__container">
            <div class="categories__left box-right">
                <h1>الاماكن</h1>
                <p>
                    يمكنك من هنا التعرف علي جميع اماكن مستر اسلام عبد الحميد او يمكنك الحجز اون لاين عن طريق الحجز الالكتروني
                </p>
                <a href="/Register" class="btn info "> حجز الكتروني </a>
            </div>

            <div class="categories__right ">
                <article class="category box-left"  >
                   
                    <h3>القناطر الخيرية</h3>
                  
                    <ul class="teachers-info">
                       <!-- <h4>الاول الثانوي  </h4>
                        <li style="font-weight: bolder; margin-top: 0.5rem;"> الاحد 6:00pm </li>
                        <li style="font-weight: bolder; margin-bottom: 0.3rem;">الخميس 3:30pm</li>
                        <h4>الثاني الثانوي  </h4>
                        <li style="font-weight: bolder; margin-top: 0.5rem; ">الأحد 4:00pm</li>
                        <li style="font-weight: bolder; ">الخميس 5:30pm</li> -->
                    </ul>
                </article>
                
                <article class="category box-left">
                  
                    <h3>قليوب</h3>

                    <ul class="teachers-info">
                        <!-- <h4>الاول الثانوي  </h4>
                        <li style="font-weight: bolder; margin: 0.5rem auto; "> الاثنين 5:30pm </li>
                        <h4>الثاني الثانوي  </h4>
                        <li style="font-weight: bolder; margin-top: 0.5rem;"> الاثنين 3:30pm </li> -->
                    </ul>
                </article>

                <article class="category box-left">
                  
                    <h3>أكتوبر </h3>

                    <ul class="teachers-info">
                        <!-- <h4>الاول الثانوي  </h4>
                        <li style="font-weight: bolder; margin-top: 0.5rem;"> السبت 2:00pm </li>
                        <h4>الثاني الثانوي  </h4>
                        <li style="font-weight: bolder; margin-top: 0.5rem;"> السبت 12:00pm </li> -->
                    </ul>
                </article>
            </div>
        </div>
    </section>

    <!--====================== END OF CATEGORIES =====================-->

   <section class="featuers" id="featuers">
    <div class="container">
        <div class="featuers-title text-center ">
            <h2>
                <i class="fas fa-graduation-cap"></i>
                 تعرف علي جميع المزايا 
            </h2>
        </div>
        <ul class="timeline">
            <li>
                <div class="timebox">
                    <h4> امتحانات الكترونية اسبوعية </h4>
                    <p>
                        امتحان اسبوعي علي كل حصه والي بيساعدك انك تحل اكبر عدد من الاسئله وتكون جاهز لامتحانات اكبر
                    </p>
                </div>
            </li>
            <li>
                <div class="timebox">
                    <h4>  فيدوهات تعليمية  </h4>
                    <p>
                        فيدوهات تعليمية باعلي جوده ومؤمنه بشكل كامل
                    </p>
                </div>
            </li>
            <li>
                <div class="timebox">
                    <h4>  مسابقات وجوائز   </h4>
                    <p>
                        مسابقات بين الطلاب بشكل دوري حتي يتم تحفيز الطالب علي المذاكرة بجِد والاستعداد دائما
                    </p>
                </div>
            </li>
            <li>
                <div class="timebox">
                    <h4> تجربه سلسه وممتعه في الاستخدام</h4>
                    <p>
                        تم اختيار كل شيء لكي يكون مهيء للتعليم الالكتروني بشكل سلس من الالوان وحتي اختيار اماكن الازرار
                    </p>
                </div>
            </li>
        </ul>
    </div>
    </section>
     <!--========================== END OF TEAM ============================-->
    
    
       


    <!--====================== END OF TESTIMONIALS =====================-->
</main>


<%- include("./partials/footer.ejs") %>




    <script src="https://cdnjs.cloudflare.com/ajax/libs/wow/1.1.2/wow.min.js" integrity="sha512-Eak/29OTpb36LLo2r47IpVzPBLXnAMPAVypbSZiZ4Qkf8p/7S/XRG5xp7OKWPPYfJT6metI+IORkR5G8F900+g==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Swiper/9.0.5/swiper-bundle.min.js" integrity="sha512-cEcJcdNCHLm3YSMAwsI/NeHFqfgNQvO0C27zkPuYZbYjhKlS9+kqO5hZ9YltQ4GaTDpePDQ2SrEk8gHUVaqxig==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>



</body>

</html>